.mainDiv{
    padding-top: 60px;
    width: 100%;
}

.subjectDiv{
    border-radius: 18px;
    width: 40%;
    height: 36px;
    margin:auto;
    background-color: deepskyblue;
    margin-bottom: 20px;
    border:ridge;
}

.topicDiv {
    border-radius: 18px;
    width: 36%;
    margin: auto;
    height: 35px;
    background-color: blueviolet;
    margin-bottom: 20px;
}

.sublabel {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    vertical-align:middle;
}
.toplabel{
    width:10%;
    margin-bottom:45%;
    margin-right:45%;
    text-align:center;
}

.topicContainer{
    
}
