body {
}

.title {
    color: deepskyblue;
    margin: 0 auto;
    text-align: center;
}
.tutorsearch {
    background-color: black;
    width: 360px;
    height: 450px;
    align-content: center;
    position: center;
    margin: 0 auto;
    padding: 15px;
}

.dropdown {
    text-align: center;
    overflow: visible;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: deepskyblue;
    font-family: inherit;
   
    margin-top: 10%;
    text-align: center;
}

.dropbtn{
    text-align: center;
    width: 70%;
    position: center;
    margin: 0 auto;
    display: inline-block;
    background-color: deepskyblue;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: deepskyblue;
}

.inputFields {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    text-align: center;
    
}
.form {
    position: relative;
    z-index: 1;
    background-color: black;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
    .form input {
        font-family: "Times New Roman", sans-serif;
        position: center;
        outline: 1px;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

label, input {
    display: block;
    height: 35px;
    width: 100%;
}

label {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    width: 80%;
}
.form button:hover, .form button:active {
    background: #43A047;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0px;
    background: deepskyblue;
    width: 100%;
    border: 0px;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
}

